*{
    margin: 0;
    padding: 0;
}
/* INICIO DE MENU  */
html, body{
    height: 100%;
}
body{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
nav{
    text-align: center;
    background-color: gray;
    color: #fff;
    /* poner en bloque y poner en horiozontal */
    /* display: inline-block;  */
    position: relative;
    border-radius: 0px 0px 20px 20px;
}
li{
    /* poner en bloque y poner en horiozontal */
    margin-top: -40px;
    display: inline-block;
}
li:hover>div{
    opacity: 1;
    left: -25%;
    z-index: 1;
}
li:hover a{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
nav li a{
    display: inline-block; 
    padding: 40px;
}
li>div{
    transition: opacity 1s, left 0.5s;
    position: absolute;
    left: -50px;
    width: 150%;
    padding: 60px 0;
    opacity: 0;
    z-index: -1;
}
li>div>div{
    color: #000;
    border: 1px solid black;
    padding: 40px;
    /* color */
    background-color: rgb(121, 121, 123, 0.5);
}
img{
    width: 50%;
    height: 50%;
    object-fit: cover;
}
.logo_img{
    width: 55px;
    height: 55px;
    position: relative;
    top: 20px;
}
/* FIN DE MENU  */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
     /* display: flex;  */
    /*propiedades para alinear y ajustar mejor las cartas */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(63, 66, 68);
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.card{
    position: relative;
    width: 300px;
    height: 350px;
    /* Aplicar margenes con resto de cartas*/
    margin: 20px;
    display:inline-block;
}
.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    /*Determina si la cara posterior de un elemento es visible de frente al usuario */
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}
.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0px 5px 10px #000;
}
.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    /*Indica cómo el contenido de un elemento deberá ser redimensionado 
    para ajustarse a su contenedor*/
    object-fit: cover;
}
.card .front h3{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: white;
    background: rgb(0,0,0,0.4);   
    text-align: center; 
}
.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(114, 121, 125);
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0px 5px 10px #000;
}
.card .back .link{
    border-top: 1px solid #f3f3f3;
    height: 50px;
    line-height: 50px;

}
.card .back .link a{
   color: #f3f3f3;
}
.card .back .link h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
.card .back .link p{
    letter-spacing: 1px;
}
.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
} 
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}