/* INICIO DE MENU  */
*{
    margin: 0;
    padding: 0;
}





html, body{
     height: 100%; /*para que ocupe el 100% de la ventana */
}
body{
    text-align: center; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    width: 500px;/* ajustar el tamaño de todas las imagenes*/
    height: 500px;
}

a{
    color: inherit;
    text-decoration: none;
}
/*contenedor del menu*/
nav{
    background-color: rgb(25, 22, 51);
    color: #fff;
    /* poner en bloque y poner en horiozontal */
    display: inline-block;
    position: relative;
    border-radius: 0px 0px 0px 0px;
    display: flex;
    margin: auto;
    justify-content: center;
    z-index: 9999999999;/*coloca por encima de otrs elementos*/
    width: 100%;
    position: fixed;/*fija el menu */
}
.espacio_menu{
    height: 150px;
}
li{
    /* poner en bloque y poner en horiozontal */
    margin-top: -40px;
    display: inline-block;
    
}
/* son las vistas menores de 992px */
@media screen and (max-width: 992px) {
    li{
        /* poner en bloque y poner en horiozontal */
        margin-top: -40px;
        display: block;
       
    }
    .item_menu {
        padding: 1px;
        display: none; /*oculta el menu*/
        position: relative;
        top: 60px;
        right: -60%;
        backdrop-filter: blur(10px); /* Aplicar desenfoque al fondo */
        border-radius: 0px 0px 20px 20px;
    }
    nav{
        height: 100px;
    }
    
    li:hover a{
        background-color: none;
        position: relative;
        
    }
    .titulo h1{
        z-index: 9999999999;
        margin-top: 66px;
        font-size: 25px;
        text-align: center;
        
    }
   
    .menu{
        display: inline-block;
        z-index: 9999999;
        position: absolute;
        right: 10%;
        top: 20px;
    }
    .cantenerdor_logo{
        position: absolute;
        left: 1%;
    }
    li>div{
        transition: none; /*elimina las transiciones*/
    }
    .videoPrincipal{
        margin-top: 65px;
    }
    .infoIndex{
        margin-top: -200px;
    }
    .contenido1{
        margin-top: -px;
    }
    .txtVideo{
        margin-top: 16em;
    }
    #bienvenidos{
        font-size: 50px;
    }
    #infoExtra{
        display: none;
    }
    .videoPrincipal{
        height: 100%;
    }
    #videoTrailer{
        margin-top: -1555px;

    }
    .contenido1 h2{
        margin: 10px;
    }
    .contenido1 #bloque1{
        margin: 10px;
    }
    #videoTrailer{
        margin-top: -290px;
        height: 100%;
        width: -webkit-fill-available;
    }
    .threeholder {
        flex-direction: column;
        align-items: center;
    }

    .three {
        max-width: 80%;
    }
   
}
    

/* son las vistas mayores de 992px */
@media screen and (min-width: 992px) {
    li:hover a{
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        position: relative;
    }
    nav li a {
        display: inline-block;
        padding: 40px;
    }
    .titulo{
        display: none;
    }
    li{
        /* poner en bloque y poner en horiozontal */
        margin-top: -40px;
        display: inline-block;
        
    }
    nav{
        display: inline-block;
    }
    .iconmenu{
        display: none;
    }
    /* findemenu */
    .container {
        width: 60%;
    }

    .threeholder {
        width: 100%;
    }

    .three {
        width: 33.33%;
    }

    .circleborder {
        position: relative;
        display: block;
        margin: auto;
    }
    #videoTrailer{
        margin-top: -180px;
        width: -webkit-fill-available;
    }
    .infoIndex{
        margin-top: -110px;
    
    }
    .contenido1{
        margin-top: 220px;
    }
    .formulario {
        margin-top: 400px;
    }
    .txtVideo{
        margin-top: 16em;
    }
}
    

/* li:hover>div{
    opacity: 1;
    left: -25%;
    z-index: 1;
} */

nav li a{
    display: inline-block;
    padding: 40px;
}
li>div{
    transition: opacity 1s, left 0.5s;
    position: absolute;
    left: -50px;
    width: 150%;
    padding: 60px 0;
    /* opacity: 0; */
    z-index: -1;
}
li>div>div{
    color: #000;
    border: 1px solid black;
    padding: 40px;
    /* color */
    background-color: rgb(121, 121, 123, 0.5);
}
.icono{
    display: block;
    margin: auto;
}
img{
    width: 50%;
    height: 50%;
    object-fit: cover;/*contendor de imagen*/
}
.logo_img{
    width: 55px;
    height: 55px;
    position: relative;
    top: 20px;
    border-radius: 20px;
}
#videoTrailer{
   
    z-index: -999;
}
/* FIN DE MENU  */

/* INDEX */





.txtVideo h1{
    color: white;
    font-size: 80px;
}
.txtVideo h2{
    color: rgb(172, 65, 65);
}
#descargar{
    border: none;
    width: 100%;
    font-size: 24px;
    color: white;
    background-color: red;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer/*para que reacciones cuando el cursor ester por encima*/
}
#descargar:hover{
    background-color: cadetblue;
}
.infoIndex>.descargar{
    margin-top: 50px;
}
.infoIndex{
    position: relative;
    bottom: 600px;
}
.contenido1{
    position: relative;
    top: -390px;
    z-index: 99;
    width: 100%;
    height: auto;
    padding: 40px;
    background-color: rgb(0, 0, 0);
    border-radius: 0px 0px;
}
.contenido1 h2{
    /* margin: 100px; */
    color: white;
    font-size: 60px;
    text-align: left;
    
}
.contenido1 #separador{
    display: block;
    margin-right: 1000px;
    width: 60%;
    height: 1px;
    border-color: white;
    background-color: white;
}
.contenido1 .text{
    color: white;
    font-size: 20px;
    text-align: justify;
}


/* quienes somos */

.cabeza p {
    color: white;
}

.container_quiensomos{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cartas_quiessomos {
    position: relative;
    width: 400px;
    height: auto;
    margin: 20px;
    display: inline-block;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5); /* Fondo negro semi-transparente */
    backdrop-filter: blur(10px); /* Fondo borroso */
    border: 2px solid rgba(0, 255, 255, 0.6); /* Borde cian brillante */
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.6); /* Sombra de color cian */
    color: white; /* Texto blanco para contraste */
    padding: 20px; /* Espaciado interno */
}

.foto_perfil img{
    width: 90px;
    height: 90px;
    margin: 20px;
}
#redessocialesicons{
    margin: 20px;
    width: 35px;
    height: 35px;
    margin: 10px;
}
.redessociales a{
    margin: 10px;
    width: 40px;
}
.redessociales li{
    display: inline-block;

}
.redessociales{
    padding-top: 30px;
    margin: 20px;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    z-index: 999;
    margin-bottom: 1px;
}


/* productos */
.titulo_producto{
    margin-top: 50px;
    text-align: center;
    font-size: 80px;
    color: rgb(181, 160, 160)
    /*insertar tipografias de la web*/
    

}

.img_productos{
    width: 100%;
    height: 50%;
    border-radius: 20px 20px 0px 0px;
}


.container_cards{
    max-width: 1200px;
    margin: auto;
    /*Sea flexibles, para que la pagina web sea flexibles, y aparte tenemos que decir como va ser la pantalla*/
    display: flex;
    /*Acordeon, se va ajustando con las anchuras*/
    flex-wrap: wrap;
    /*tenemos que justifir y centralizado*/
    justify-content: center;
}
.card{
    width: 300px;
    margin: 10px;
    transition: all ease 300ms;
    border-radius: 20px;

}
.container_cards>.card{
    margin-bottom: 220px;
}
.card:hover{
    width: 350px;
}
.card .cover{
    width: 100%;
    height: 250px;
    position: relative;
    /*Ocultar elemento*/
    overflow: hidden;
}
.card .cover img{
    height: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));/*sombreado*/
    transition: all ease 400ms;
}
.card:hover .cover img{
    top: 0px;
    filter: none;/*elemina los filtros del elemento*/
}
.card .img_back{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all ease 300ms;
}
/*Pseudoclase: nth-of-type() en CSS, selecciona uno o mas elementos de un tipo dado,
puede ser p, img, videos, etc., en funcion de su posicion y los situaciones entre un grupo de hermanos*/
.card:nth-of-type(1) .img_back{
    background-image: url(img/Producto1.jpeg);
}
.card:nth-of-type(2) .img_back{
    background-image: url(img/Producto2.jpg);
}
.card:nth-of-type(3) .img_back{
    background-image: url(img/Producto3.jpg);
}
.card:nth-of-type(4) .img_back{
    background-image: url(img/Producto4.jpg);
}
.card:nth-of-type(5) .img_back{
    background-image: url(img/Producto5.jpeg);
}
.card:nth-of-type(6) .img_back{
    background-image: url(img/Producto6.jpg);
}
.card:nth-of-type(7) .img_back{
    background-image: url(img/Producto7.jpg);
}
.card:nth-of-type(8) .img_back{
    background-image: url(img/Producto8.jpg);
}
.card:nth-of-type(9) .img_back{
    background-image: url(img/Producto9.jpg);
}
.card:hover .img_back{
    bottom: -40px;
}
.card .description{
    background: whitesmoke;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all ease 300ms;
}
.card:hover .description{
    padding: 40px;
}
.card .description h2{
    margin-top: 10px;
    /*insertar Tipografias*/
    font-family: "Bebas Neue", sans-serif;;
}
.card .description p{
    margin-top: 10px;
    color: #393938;
}
/*Modificando el boton*/
.card .description input{
    padding: 10px 40px;
    margin: 20px auto 0 auto;
    border: none;/*elimina el borde*/
    display: block;
    background: #A6359D;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all ease 300ms;
}
.card .description input:hover{
    background: #C79DC3;
}
.card .description a{
    text-decoration: none;
}



/* personajes */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.card{
    position: relative;
    width: 300px;
    height: 350px;
    /* Aplicar margenes con resto de cartas*/
    margin: 20px;
    display:inline-block;
    border-radius: 10px; 
    
}
.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    /*Determina si la cara posterior de un elemento es visible de frente al usuario */
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
    
}


.card .front{
    transform: perspective(600px) rotateY(0deg);/*para rotar las cartas*/
    box-shadow: 0px 5px 10px #000;
}


.card .front img {
    position: relative;
    width: 100%; 
    height: 100%; 
    max-width: 200%; 
    max-height: 100%; 
    object-fit: contain; 
    
}


.card img[alt="Personaje1"]  {
   
    background-image: url('../img/FondoPersonaje1.jpg'); 
    background-size: cover;/*Para que se pongan de fondo*/
    background-position: center;
}

.card img[alt="Personaje2"] {
    
    background-image: url('../img/FondoPersonaje2.jpg'); 
    background-size: cover;
    background-position: center;
    
}
.card img[alt="Personaje3"] {
    
    background-image: url('../img/FondoPersonaje3.jpg'); 
    background-size: cover;
    background-position: center;
    
}
.card img[alt="Personaje4"] {
   
    background-image: url('../img/FondoPersonaje4.jpg'); 
    background-size: cover;
    background-position: center;
    
}
.card img[alt="Personaje5"] {
    
    background-image: url('../img/FondoPersonaje5.jpg'); 
    background-size: cover;
    background-position: center;
    
}
.card img[alt="Personaje6"] {
   
    background-image: url('../img/FondoPersonaje6.jpg'); 
    background-size: cover;
    background-position: center;
}
.card img[alt="Personaje7"] {
  
    background-image: url('../img/FondoPersonaje7.jpg'); 
    background-size: cover;
    background-position: center;
}.card img[alt="Personaje8"] {
    
    background-image: url("../img/FondoPersonaje8.jpg"); 
    background-size: cover;
    background-position: center;
}
.card .front h3{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: white;
    background: rgb(0,0,0,0.4);   
    text-align: center; 
}
.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(114, 121, 125);
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0px 5px 10px #000;
}
.card .back .link{
    border-top: 1px solid #f3f3f3;
    height: 50px;
    line-height: 50px;

}
.card .back .link a{
   color: #f3f3f3;
}
.card .back .link h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
.card .back .link p{
    letter-spacing: 1px;
}
.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
} 
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
#separadarproductos{
    margin: 40px;

}


/* login */

.contenedor{
    width:100% ;
    padding: 60px;

}
/* para el login y crear cuenta */
.formulario{
    /* borroso  */

    border-radius: 20px;
    backdrop-filter: blur(5px);/*no hace efecto borroso*/
    opacity: 0.99;
    border: 1px solid #aaa;
    position: relative;
    top: 90px;
}
img{
    padding-top: 4px;
    width: 35px;
    height: 35px;
    text-align: center;

}
input[type="text"], input[type="password"]{
    text-align: center;
    font-size: 24px;
    width: 80%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
    border-radius: 20px;
    backdrop-filter: blur(5px);/*no hace efecto borroso*/
    opacity: 0.90;
    background-color: white;
}
.button{
    border: none;
    width: 90%;
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 17px 40px;
    border-radius: 7px;
    cursor: pointer;
    

    
}
.cuadro{
    text-align: left;
}
.button:hover{
    background-color: cadetblue;
}
p{
    text-align: center;
}

.link:hover{
    color: cadetblue;
}
@media(min-width:768px){
    .formulario{
        margin-top: 150px;
        width: 500px;
        margin: auto;
        border-radius: 2%;
    }
}



/* crear cuenta */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}

.contenedor{
    width: 100%;
    padding: 15px;
}

h1{
    padding-top: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 48px;
}
img{
    padding-top: 4px;
    width: 35px;
    height: 35px;
    text-align: center;
}
input[type="text"], input[type="password"], input[type="mail"]{
    text-align: center;
    font-size: 24px;
    width: 80%;
    padding: 10px;
    border: none;
}
.button{
    border:none;
    width: 100%;
    font-size: 24px;
    color: white;
    background-color: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background-color: cadetblue;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
    color: #702424;
    font-weight: 600px;
}
.link:hover{
    color: cadetblue;
}
 /* Responsive */
@media (min-width: 768px){
    .formulario{
        margin-top: 150px;
        width: 500px;
        margin: auto;
        border-radius: 2%;
    }
}





/* juegos y expansiones */




main {
    background-color: rgba(83, 80, 76, 0.5); /* Fondo con transparencia */
    display: flex;
    flex-wrap: wrap;
    backdrop-filter: blur(5px); /* Aplicar desenfoque */
}

main section {
    width: 100%;
}

section.images {
    display: flex;
    flex-wrap: wrap;
}

section.images img {
    height: 100px;
    width: 25%;
}

.hidden {
    display: none;
}


h1,h3,h4,p {
    margin: 0px;
    padding: 10px;
}

.texto_expansion{
    color: white;

}


/*Cambiamos el color de letra de ciertos elementos*/

.rojo {
    color: #fff;
}


/*Contenedor General*/

.container {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px auto;
    width: 90%;
    width: 100%;
}


/*Parte del logo y del menu*/

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.menu_item {
    padding: 0.5em;
    display: none;
}
@media screen and (min-width:576px) {
    nav{
        display: flex;
    }
    .menu_item{
        display: inline-block;/* para poder loner elementos en linea en bloque y poder poner de vertical en horizontal */
    }
    .icon{
        display: none;
    }
    .novedades{
        width: 25%;
    }
    section.main_text, section.images{
        width: 50%;
    }
    section.images img{
        width: 50%;
        height: auto;
    }
    .threeholder{
        width: 100%;
    }
    .three{
        width: -33%;
    }
   
}