*{
    box-sizing: border-box;

}
body{
    
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background: url(img/R.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;/*se puede usar cover*/

}
.contenedor{
    width:100% ;
    padding: 15px;

}
.formulario{
    
    background: white;
    margin-top: 100px;
}
h1{
    padding-top: 20px;
    text-align: center;
    color: black;
    font-size: 40px;

}
img{
    padding-top: 4px;
    width: 35px;
    height: 35px;
    text-align: center;

}
input[type="text"], input[type="password"]{
    text-align: center;
    font-size: 24px;
    width: 80%;
    padding: 10px;
    border: none;

}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.button{
    border: none;
    width: 100%;
    font-size: 24px;
    color: white;
    background-color: black;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    
}
.button:hover{
    background-color: cadetblue;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
    color: black;
    font-weight: 600px;
}
.link:hover{
    color: cadetblue;
}
@media(min-width:768px){
    .formulario{
        margin-top: 150px;
        width: 500px;
        margin: auto;
        border-radius: 2%;
    }
}


